*.redxml
*.txt
*.html
*.pdf
*~
*.swp
/*-[0-9][0-9].xml
.refcache
venv/
issues.json
draft-ietf-anima-autonomic-control-plane-latest.xml
draft-ietf-anima-autonomic-control-plane-latest.xml
draft-ietf-anima-autonomic-control-plane-latest.xml
draft-ietf-anima-autonomic-control-plane-latest.xml
